
    A:link      { color: blue; }
    A:visited   { color: darkblue; }
    A:hover     { color: blue; }
    
    .controls { display: none; visibility:hidden; }
    
    svg { display: block; margin: auto; }

    SUP        { font-size:10pt; }
    BODY        { font-size:14pt; font-family: "Exo 2",Calibri, Lucida Sans, "Lucida Grande"; }
    TD          { font-family: margin: 0 auto; padding-right: 20px; }
    H1          { font-size:30pt; color: blue; font-weight: bold; font-size:30pt; margin-top:20px; margin-bottom:10px; margin-right:6px; }
    H2          { font-size:20pt; color: darkblue; margin-top:20px; margin-bottom:10px; margin-right:6px; }
    H3          { font-size:18pt; margin-top:20px; margin-bottom:10px; margin-right:6px; } 
    P           { font-size:14pt; margin-top: 0px; margin-bottom: 8px;  }
    H3 P        { font-size:16pt; margin-left: 70px; margin-top:20px; margin-bottom:10px; margin-right:6px; } 
    B           { font-size:14pt; background-color: lightblue; padding: 2px; }
    H2 B        { font-size:16pt; background-color: lightblue; padding: 5px; margin-top: 20px; margin-bottom: 20px;}
    LI          { font-size:14pt; }

    button { display: none; visibility:hidden;}
    label  { display: none; visibility:hidden;}
    input  { display: none; visibility:hidden;}
    select { display: none; visibility:hidden;}

 pre          { font-size:10pt; font-family: Lucida Console; }

    .menu { font-size:14pt; font-family: Calibri, Lucida Sans Unicode; color: red; }
    .small_infoblock { font-family: Calibri, Lucida Sans Unicode; font-size:8pt; }
    .block  { background-color: #EEEEEE; padding-top:6;padding-bottom:10;padding-right:10;padding-left:10;}

.threecol { width:1300px; float:left; }
.left { float:left; }
.hints { width:59px;float:left;margin-right:6px; }
.main { width:843px;float:left;margin-right:26px; margin-left: 50px; }
.contents { font-size: 19pt; width:200px;float:left; }

code { background-color: lightblue; margin: 15px 0px 20px 20px;
       padding: 15px 30px 20px 20px; display: inline-block;
       white-space: pre; }

.numbox { padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px;background-color:black;color:white; }


