{sub_dirs,["apps"]}.
{lib_dirs,["apps"]}.
{deps_dir,"deps"}.
{deps, [
    {erlydtl,       ".*",{git,"git://github.com/evanmiller/erlydtl.git",{tag,"0.8.0"}}},
    {shen,          ".*", {git, "git://github.com/5HT/shen",                "HEAD"}},
    {rest,           ".*", {git, "git://github.com/synrc/rest",                "HEAD"}},
    {gproc,          ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}},
    {sync,          ".*", {git, "git://github.com/doxtop/sync", "HEAD"}},
    {n2o_scripts,    ".*", {git, "git://github.com/synrc/n2o_scripts", "HEAD"}},
    {avz,	     ".*", {git, "git://github.com/synrc/avz.git", "HEAD"}}
]}.

