
  body   { font-size: 18pt; font-family:  Calibri, Lucida Sans, "Lucida Grande"; }
  button { font-size: 18pt; }
  select { font-size: 18pt; border: 1px solid #ccc; height: 34px; }
  br { height: 1pt; }
