[
 {sync, [{sync_mode, nitrogen}]},
 {nsx_idgen, [{game_pool,5000000}]},
 {n2o, [{route,routes},
        {port,8443},
        {log_modules,logallow},
        {session,js_session},
        {pickler,n2o_secret}]},
 {server, [{log_modules,logallow}]},
 {face,[
    {http_address, "http://skyline.synrc.com"},
    {gplus_client_id, "146782506820.apps.googleusercontent.com"},
    {gplus_cookiepolicy, "http://synrc.com"}]},
 {kvs,
     [{pass_init_db,true},
      {nodes,[]},
      {log_modules,logallow},
      {dba, store_mnesia},
      {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription,
                db_config, db_scoring, db_accounts, db_table, db_tournaments, db_journal ]}]},
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

