{deps, [
    {erlydtl,".*",{git,"git://github.com/evanmiller/erlydtl.git",{tag,"0.8.0"}}},
    {shen,          ".*", {git, "git://github.com/5HT/shen",                "HEAD"}},
    {n2o,           ".*", {git, "git://github.com/5HT/n2o",                "HEAD"}},
    server
]}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {out_dir,    "ebin"},
   {compiler_options, [report, return, debug_info]},
    {source_ext, ".html"},
    {module_ext, "_view"}
]}.
