<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
  body   { font-size: 18pt; font-family:  Calibri, Lucida Sans, "Lucida Grande"; }
  button { font-size: 18pt; }
  select { font-size: 18pt; border: 1px solid #ccc; height: 34px; width: 150px; }
</style>
<title>{{title}}</title>
</head>
<body>
{{body}}
<script>var transition = {pid: '', host: 'localhost' };</script>
<script>function handle_web_socket(body) { console.log(String(bert.decodebuf(body))); } </script>
<script src='https://code.jquery.com/jquery-2.1.0.min.js' type='text/javascript' charset='utf-8'></script>
<script src='/static/nitrogen/bullet.js' type='text/javascript' charset='utf-8'></script>
<script src='/static/nitrogen/n2o.js' type='text/javascript' charset='utf-8'></script>
<script src='/static/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>
<script src='/static/google_sdk.js' type='text/javascript' charset='utf-8'></script>
</script><div id="n2ostatus"></div>
</body>
</html>
