<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/kakaranet.css" rel="stylesheet" type="text/css"/>
<title>{{title}}</title>
</head>
<body>
{{body}}
<script>var transition = {pid: '', port: '8080' };</script>
<script>function handle_web_socket(body) { console.log(String(dec(body))); } </script>
<script src='/static/nitrogen/bullet.js' type='text/javascript' charset='utf-8'></script>
<script src='/static/nitrogen/n2o.js' type='text/javascript' charset='utf-8'></script>
<script src='/static/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>
<!--script src='/static/google_sdk.js' type='text/javascript' charset='utf-8'></script-->
</script><div id="n2ostatus"></div>
</body>
</html>
