
div { -webkit-user-select: text; user-select: text; }
html, body { -webkit-user-select: none; user-select: none; }
html, body { margin: 0; padding:0; overflow: hidden; width: 100%; height: 100%; font-family: "Exo 2"; }
text { cursor: default; }
.card text { cursor: inherit; }
.card {
	-ms-touch-action :    none;
    touch-action :        none;
    -ms-scroll-chaining:  none;
    -ms-scroll-limit:     0 0 0 0;
}
